<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    
    <div class="col-md-8">
      <%= image_tag(@idea.picture.url, width: 600) if @idea.picture.present? %>
    </div>
    <div class="col-md-4">
      <p><%= time_ago_in_words(@idea['created_at']) %> ago</p>
      <p><%= @idea.description %></p>

      <% @idea.comments.each do |comment| %>
        <p>
          <strong><%= comment.user_name %></strong>
          <p><%= comment.body %></p>
        </p>
      <% end %>
    </div>

  </div>
  <div class="col-md-1"></div>

  <%= render 'comments/form' %>

  <%= link_to 'Edit', edit_idea_path(@idea) %> |
  <%= link_to 'Back', ideas_path %>

</div>